@model ApplicationUser
@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>
<br />
<br />
<div class="row mb-3">
    <div class="col-10">
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-form-label"></label>
            <input asp-for="@Model.UserName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email" class="col-form-label"></label>
            <input asp-for="@Model.Email" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
            <input asp-for="@Model.PhoneNumber" class="form-control" readonly />

        </div>


        <br />
        <a asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>

